// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc.

/* ==============
    Custom
   ============== */
header{
	.logos{
		position:relative;
        display:inline-block;
        *display:inline;
        vertical-align:top;
        zoom:1;

        & a{
        	display:inline-block;
            *display:inline;
            vertical-align:top;
        }
	}

	.logo-right{
		 margin-left: 800px;
         margin-top: 55px;
	}
}

.holder-links{
	 padding:10px 40px; 
     margin:0 auto; 
     width:1026px;

     & dl{font-size:0};
     & dd,dt{
     	font-size:10px; 
        margin:0;
        display:block;
        
     }

     & dd{
     	display:inline-block;
        *display:inline;
        vertical-align:top;
        width: 18%;
        padding:10px; 
        margin: 0 1.16em 2.0em 1.16em;

        img{
        	width:100%;
        }
     }

     & dt{
		 margin-bottom:2.0em; 
     }

     & a{

     }
}

.video{
	position:relative;
    padding-bottom:56.25%;
    height:0;

    iframe{
    	position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

.caroufredsel_wrapper{
   height:auto !important;
   position:relative !important;  
}

.slider{
    width:100%; 

	.itens{
        padding:0;
        overflow:hidden;
        height:auto !important;
        position:relative !important;

        & li{
           display:inline-block;
           *display:inline;
           vertical-align:top;
           margin-left:10px;

           & a{
           	 width:100%;
             display:inline-block;
             *display:inline;
             vertical-align:top;
           }
        }

        & img{
        	width:100%;
        }
    }
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

body {
    font-size: 10px;
    line-height: 1.4;
    width:100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    padding: 0.2em 0;
}

/* ===================
    
    INIT ORIGINAL STYLE
   =================== */

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    padding:30px 10px 30px 10px;
}

/* ==============
    MOBILE: Menu
   ============== */

nav{
 	& ul {
    	margin: 0;
    	padding: 0;
    }
    
    & a{
		 display: block;
    	 margin-bottom: 10px;
         padding: 15px 0;
    }	
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
    & article{
		& h1{
			font-size:2em;
		}
    }

    & aside{
    	padding: 0px 5% 10px;
    }
}

.footer-container{
    & footer {
    	padding: 20px 0;
    }	
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ===============
    Media Queries
   =============== */
@media only screen and (min-width: 480px) {
	nav{
		& a{
			float: left;
        	width: 27%;
        	margin: 0 1.7%;
        	padding: 25px 2%;
        	margin-bottom: 0;
		}

		& ul{
			& li{
				display: inline;
			}
		}

		& li:first-child{
			& a{
				margin-left: 0;
			}
		}

		& li:last-child{
			& a{
				margin-right: 0;
			}
		}
    }

    .oldie{
    	nav{
    		a{
    			margin: 0 0.7%;
    		}
    	}
    }
}

@media only screen and (min-width: 768px) {
	.header-container,
    .main{
     	& aside {
        	-webkit-box-shadow: 0 5px 10px #aaa;
           	-moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
        }        
    }

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    .main{
    	& article{
    		float: left;
        	width: 57%;
    	}
    	& aside{
    		float: right;
        	width: 28%;
    	}
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
