// - - - - - - - - - - - - - - - - - - -
// - - skin
// global skin styles - gradients, colors, box-shadows, etc.

/* ==============
    Custom
   ============== */

.holder-links{
	 & dd,dt{
     	background:black;
        color:#FFFFFF;
        text-align:center; 
     }


     & a{
		text-decoration:none;
        color:#FFFFFF;
     }
}

.slider{
    text-align:center;
   	.itens{
        & li{
           & a{
           	 text-decoration:none;
             color:#000; 
           }
        }
    }
}





footer{
	&.wrapper{
		color:#000;
	}
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    border-top: 1px solid #ccc;
}

.chromeframe {
    background: #ccc;
    color: #000;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    background:#ffc600;
}

.footer-container,
.main{
	& aside {
    	border-top: 20px solid #000000;
    }	
}

.header-container,
.footer-container,
.main{ 
	& aside {
    	background: #ffc600;
    }	
}

.title {
    color: white;
}


/* ==============
    MOBILE: Menu
   ============== */

nav{
	
	& a{
		text-align: center;
	    text-decoration: none;
	    font-weight: bold;

	    color: white;
	    background: #e44d26;
	}

 	& a:hover , & a:visited{
		 color: white;
    }

    & a:hover{
    	text-decoration: underline;
    }	
}


/* ==============
    MOBILE: Main
   ============== */

.main{
  & aside {
    color: white;
  }	    
}

.footer-container{
    & footer {
    	
    }	
}




/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}